<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <title>金汇金融-互联网金融平台</title>
  <meta name="keywords" content="金汇金融,理财,定期,固定收益,理财产品,银行理财产品,投资理财,理财产品排行,酒交所,茅台酒理财,基金,基金净值,货币债券公募基金,信托私募,券商集合理财,理财教育,个人如何理财,理财规划">
  <meta name="description" content="金汇财富资本管理有限公司（金汇金融）是经中国证监会批准设立的财富管理机构，平台发售的产品均系具有合法资格的专业机构设计发行，由相关商业银行、证券公司、基金管理公司等专业财富管理机构进行资产管理。金汇金融作为互联网金融平台恪守“客户利益至上、客户体验优先”的原则，致力于满足客户的各类理财需求，向客户提供安全、专业、增值及部分个性化的金融理财产品。">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <link rel="Bookmark" href="/favicon.ico" type="image/x-icon"><link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon.ico" type="image/x-icon"><link href="http://res.jinhui365.com/r/css/common.css?v=1.244" rel="stylesheet" type="text/css">
  <script charset="utf-8" src="http://trust.baidu.com/vcard/v.js?siteid=3980326&amp;url=http%3A%2F%2Fwww.jinhui365.com%2F404&amp;source=&amp;rnd=85126378&amp;hm=1"></script><script type="text/javascript" src="http://res.jinhui365.com/r/script/labs/jquery-1.8.1.min.js?v=1.244"></script>
  <script type="text/javascript" src="http://res.jinhui365.com/r/script/util.js?v=1.244"></script>

</head>
<body>
<script>
  var _hmt = _hmt || [];
</script>
<script type="text/javascript" src="http://res.jinhui365.com/r/script/Public_float.js?v=1.244"></script>
<script type="text/javascript" src="http://res.jinhui365.com/r/script/commen.js?v=1.244"></script>
<input type="hidden" id="userLogin" value="">
<input type="hidden" id="isPwdControl" value="">
<input type="hidden" id="userAccountStatus" value="">
<input type="hidden" id="resourceHome" name="resourceHome" value="http://res.jinhui365.com">
<input type="hidden" id="nowTime" name="nowTime" value="1474620599206">
<div class="headrwrap">
  <div class="topColumn">
    <div class="leftContent">
      <ul class="leftCon">
        <li class="tel"><span class="tel-txt f12">全国热线：</span><span class="s-font-num">4006-999-133</span></li>
      </ul>
    </div>
    <div class="rightCon">
      <ul class="leftCon">
        <li><a href="http://news.jinhui365.com/helps/aboutus.html">关于金汇</a><em class="sep-line">|</em><a href="http://news.jinhui365.com/helps/help.html">帮助中心</a></li>
        <li class="gz_share"><a href="javascript:;" title="关注微信" class="sweix"></a></li>
      </ul>
      <a href="/info/phone" class="appdown" target="_blank" id="appdown"></a>
      <div class="qr_CodeBox" id="qr_CodeBox" style="display: none;">
        <p class="qr_title">
          <span>.......</span><em>APP</em><span>.......</span>
        </p>
        <div class="clear"></div>
        <p class="jhlcTit"></p>
        <p class="orgClient">官方手机端</p>
        <div class="qr_pic"></div>
      </div>
      <a href="/inbox/list" class="msgEntrance"><em></em></a>


      <span class="loginBg"><a href="/login/index" class="log_reg loginBtn">登录</a><em>|</em><a href="/register/index" class="log_reg">注册</a></span>
    </div>
  </div>
  <div class="clear hr"></div>
  <div class="headerBox">
    <div id="header">
      <div class="logo">
        <a href="/">
          <img src="http://res.jinhui365.com/r/images/jhcf_image/logo2.png?v=1.244" title="互联网金融平台首选金汇金融"></a>
        <span class="slogn fl"><img src="http://res.jinhui365.com/r/images/slogn.png?v=1.244" alt=""></span>
      </div>
      <ul class="menu">
        <li><a href="/">首页</a></li>
        <li class="buypro"><a href="/funds/cjhb/opencash/GY0002">超级活宝</a> </li>
        <li class="buypro"><a href="/online/list/honor">优选理财</a> </li>
        <li><a href="/online">定期理财</a></li>
        <li><a href="/online/list/csi">高端理财</a></li>
        <li><a href="/online/list/prifund?kind=prifund">私募基金</a></li>
        <li><a href="/online/pages/transdeal">转让专区</a></li>
        <li><a href="/user/personalcenter">我的账户</a></li>

      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!--微信二维码弹出层 -->
<div id="eject">
  <div id="ejectCon">
    <div class="conTop">
      <h3>金汇金融微信服务号</h3>
      <a href="javascript:;" class="closeBtn">X</a>
      <img src="http://res.jinhui365.com/r/images/jhcf_image/qrcode_for_gh_4101d01f1f04_258.jpg" alt="">
      <p class="weix_sm">扫一扫即可关注金汇金融官方微信</p>
    </div>
  </div>
  <div id="shadeBox"></div>
</div>
<div id="error_main">
  <div class="error-conent">
    <div class="error-conentleft">
      <div class="error404"></div>
    </div>
    <div class="error-conentright">
      <p class="error-conright-number">404</p>
      <p class="error-conright-text">系统繁忙！建议您</p>
      <p class="error-conright-button"><a href="http://www.jinhui365.com/" class="error-button-before">返回首页</a><a href="javascript:history.go(-1)" class="error-button-next">后退一步</a></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear hrfoot"></div>
<div class="footOuter">
  <div class="footer">
    <div class="footCont">
      <div class="m-foot-nav">
        <a href="http://news.jinhui365.com/cms/notice.html">最新公告</a><em>|</em><a href="http://news.jinhui365.com/cms">最新资讯</a><em>|</em><a href="http://news.jinhui365.com/helps/aboutus.html">关于金汇</a><em>|</em><a href="http://news.jinhui365.com/helps/help.html">帮助中心</a><em>|</em><a href="http://news.jinhui365.com/helps/sitemap.html">网站地图</a>
      </div>
      <p>
        客服电话:<b>4006-999-133</b>&nbsp;&nbsp;客服邮箱：<a href="mailto:service@jinhui365.com">service@jinhui365.com</a>
        &nbsp;&nbsp;客服时间：9:00-21:00（法定节假日另行通知）
      </p>
      <p>商务合作：0755-36307355-6039&nbsp;&nbsp;&nbsp;&nbsp;邮箱地址：<a href="mailto:bd@jinhui365.com">bd@jinhui365.com</a></p>
      <p>Copyright&nbsp;©&nbsp;2014-2016&nbsp;&nbsp;
        深圳金汇财富金融服务有限公司版权所有&nbsp;&nbsp;粤ICP备&nbsp;15064046号-1</p>
      <div class="jhcf_baomi" id="safety">
                <span class="safeImgWrap"> <a onclick="location='/about/safety'" class="trusted"><img src="http://res.jinhui365.com/r/images/jhcf_image/sm_124x47.png?v=1.185" style="border: none;" alt="安全联盟认证"></a>
                </span> <span class="safeImgWrap"> <a onclick="location='/about/safety'" class="trusted"><img src="http://res.jinhui365.com/r/images/jhcf_image/cert.jpg?v=1.185" style="border: none;" alt="诚信网站"></a>
                </span> <span class="safeImgWrap getseal"> <a onclick="location='/about/safety'" class="trusted"><img src="http://res.jinhui365.com/r/images/jhcf_image/getseal.png?v=1.185" style="border: none;" alt="加密认证"></a>
                </span>
      </div>
      <p class="jhcf_tongji"></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://res.jinhui365.com/r/script/foot_load.js?v=1.244"></script>
<span style="display: none;">
    <span id="cnzz_stat_icon_1000155252">
        <a href="http://www.cnzz.com/stat/website.php?web_id=1000155252" target="_blank" title="站长统计">
            <img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic1.gif">
        </a>
    </span>
    <script src=" http://s22.cnzz.com/z_stat.php?id=1000155252&amp;show=pic1" type="text/javascript"></script>
    <script src="http://c.cnzz.com/core.php?web_id=1000155252&amp;show=pic1&amp;t=z" charset="utf-8" type="text/javascript"></script>
</span>
<script type="text/javascript">_hmt.push(['_setCustomVar', 1, 'login', 'isNotLogin', 1]);</script>
<script src=" http://hm.baidu.com/h.js?68c036cdd7810137c065fa14862ee6c0" type="text/javascript"></script>
</body>
</html>