<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兑换详情</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="{{url_for('static',filename='css/agent.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='js/calcBaseRem.js')}}"></script>
</head>
<body class="b_f4f4f4">
    <div class="m-top">
        <div class="m-top-con b_fff">
            <p class="m-top-txt">非凡会</p>
            <a href="" class="m-top-icon1"></a>
            <a class="m-top-icon2" onclick="backToApp()"></a>
        </div>
    </div>



        <div class="m-det">
        <img src="../static/images/agent-img1.jpg" alt="" />
    </div>
    <form action="" method="post" id="form">
        <div class="m-ex b_fff">
            <div class="m-ex-msg">
                <span class="u-txt-label">领取信息</span>
            </div>
            <ul class="m-center-box">
                <li>
                    <span class="u-txt-label">姓名</span>
                    <input type="text" class="u-txt-input" name="name" id="name">
                </li>
                <li>
                    <span class="u-txt-label">电话</span>
                    <input type="text" class="u-txt-input" name="tel" id="tel">
                </li>
                <li>
                    <span class="u-txt-label">邮编</span>
                    <input type="text" class="u-txt-input1" name="oidname" id="oidname">
                </li>
                <li class="address">
                    <span class="u-txt-label">详细地址</span>
                    <input type="text" class="u-txt-input" name="add" id="add">
                </li>
            </ul>
        </div>
        <div class="m-ex-bot">
            <p class="m-act-tips">注：礼物仅于用户符合领取条件时可领取，且只可领取一件，请选择领取您最中意的礼物。</p>
            <div class="m-ex-bn">
                <p class="tips" id="tip"></p>
                <input type="button" value="确认领取" class="u-submit-btn" id="submitBtn" >
            </div>
        </div>
    </form>
</body>

<script type="text/javascript">
    window.onload = function(){
        var submitBtn = document.getElementById("submitBtn");
        var form = document.getElementById("form");
        submitBtn.onclick = function(){
            var userName = document.getElementById("name");
            var mobile = document.getElementById("tel");
            var tip = document.getElementById("tip");
            var email = document.getElementById("oidname");
            var site = document.getElementById("add");
             if(userName.value=='')
             {
                 tip.innerHTML = '请填写姓名';
                 return false;
             }
            if(mobile.value=='')
            {
                tip.innerHTML = '请填写手机号';
                return false;
            }

            if(site.value=='')
            {
                tip.innerHTML = '请填写地址';
                return false;
            }
            if(email.value =='' || email.value.length != 6)
            {
                tip.innerHTML = '请填写6位邮编';
                return false;
            }
            form.submit();
        }
    }
    function backToApp()
    {
        window.BackToApp.goBackToApp();
    }
</script>
</html>